<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title">Tasks</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Assignee User ID</th>
            <th>Created By ID</th>
            <th>Delete</th>
            <th>Update</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let task of tasks$ | async">
            <td>{{task.title}}</td>
            <td>{{task.startDate}}</td>
            <td>{{task.endDate}}</td>
            <td>{{task.status}}</td>
            <td>{{task.assigneeId}}</td>
            <td>{{task.createdById}}</td>
            <td><button class="btn btn-danger btn-sm">Delete</button></td>
            <td><button class="btn btn-success btn-sm">Update</button></td>
          </tr>
          </tbody>
        </table>
    </div>
    </div>
  </div>
</div>
